log
doxygen-doc
CMakeLists.txt.user

bin
lib
build
doc
html
latex
Doxyfile
contrib

*~
#*
*.pyc
*.o
*.a
*.exe
*.lib
*.cache
*.bak
lib*.pc
.project
.cproject
src/mdlib/*.bak*
run_cmake*
man/

CMakeFiles
CMakeCache*
Makefile*
cmake_instal*

include/CMakeFiles
include/CMakeC*
include/cmake_ins*
include/Make*

scripts/CMakeFiles
scripts/CMakeC*
scripts/cmake_ins*
scripts/Make*

share/CMakeFiles
share/CMakeC*
share/cmake_ins*
share/Make*

share/template/CMakeFiles
share/template/CMakeC*
share/template/cmake_ins*
share/template/Make*

tests/CMakeFiles
tests/CMakeC*
tests/cmake_ins*
tests/Make*

src/CMakeFiles
src/CMakeC*
src/cmake_ins*
src/Make*

src/contrib/CMakeFiles
src/contrib/CMakeC*
src/contrib/cmake_ins*
src/contrib/Make*

src/gmxlib/CMakeFiles
src/gmxlib/CMakeC*
src/gmxlib/cmake_ins*
src/gmxlib/Make*

src/kernel/CMakeFiles
src/kernel/CMakeC*
src/kernel/cmake_ins*
src/kernel/Make*

src/mdlib/CMakeFiles
src/mdlib/CMakeC*
src/mdlib/cmake_ins*
src/mdlib/Make*

src/ngmx/CMakeFiles
src/ngmx/CMakeC*
src/ngmx/cmake_ins*
src/ngmx/Make*

src/tools/CMakeFiles
src/tools/CMakeC*
src/tools/cmake_ins*
src/tools/Make*
